# All files
[*]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
indent_size = 4
file_header_template = MIT License\n \n Copyright (c) 2020-2023 Filip Liwiński\n \n Licensed under the MIT License. See the LICENSE file in the project root for license information.\n

# Xml files
[*.xml]
indent_size = 2
